<section>
  <div class="container">
  <div class="block-media-container gallerycarousel">
    {{ site.data.settings.featuredTitle }}
    <div class="block-media">
      <div class="carousel-images slider-nav">
          {% for project in site.data.settings.projects %}
          <div>
            <a data-lightbox="image-1" href="{{ site.github.url }}/assets/img/Home/{{ project.folder }}/thumb.png"><img src="{{ site.github.url }}/assets/img/Home/{{ project.folder }}/thumb.png"></a>
          </div>
          {% endfor %}
      </div>
    </div><!-- /.block-media -->
    <div class="block-text galary-block-text">
      <div class="carousel-text slider-for">
      </div>
    </div><!-- /.block-text -->
      {{ site.data.settings.galleryTitle }}
  </div>
  <div class="galleryContainer">
    <div class="buttonSection">
      <div class="all filterbutton selected" id="all" onclick="showAll()">All</div>
      <div class="showSketches filterbutton" onclick="showSketches()">Sketches</div>
      <div class="showIllustrations filterbutton" onclick="showIllustrations()">Illustrations</div>
      <div class="showCharacters filterbutton" onclick="showCharacters()">Characters</div>
    </div>
    {% for project in site.data.settings.gallery %}
    <a data-lightbox="{{ project.category }} all" id="gallery" class="{{ project.category }}" href="{{ site.github.url }}/assets/img/Gallery/{{ project.file }}/thumb.png">
      <div class="gallery {{ project.category }}" style="background-image: url({{ site.github.url }}/assets/img/Gallery/{{ project.file }}/thumb.png)">
      </div>
    </a>
    {% endfor %}
  </div>
  </div><!-- /.container -->
</section>
<script type="text/javascript">
  function showAll() {
    $("#all").removeClass('filterOut').addClass('selected');
    $(".illustrations").removeClass('filterOut').addClass('unfiltered');
    $(".characters").removeClass('filterOut').addClass('unfiltered');
    $(".sketches").removeClass('filterOut').addClass('unfiltered');

    $(".showCharacters").removeClass('selected');
    $(".showIllustrations").removeClass('selected');
    $(".showSketches").removeClass('selected');
  }
  function showSketches() {
    $(".sketches").removeClass('filterOut selected').addClass('unfiltered');
    $("#all").removeClass('filterOut selected');
    $(".illustrations").addClass('filterOut').removeClass('unfiltered');
    $(".characters").addClass('filterOut').removeClass('unfiltered');

    $(".showSketches").addClass('selected');
    $(".showCharacters").removeClass('selected');
    $(".showIllustrations").removeClass('selected');
  }
  function showIllustrations() {
    $(".illustrations").removeClass('filterOut selected').addClass('unfiltered');
    $("#all").removeClass('filterOut selected');
    $(".characters").addClass('filterOut').removeClass('unfiltered');
    $(".sketches").addClass('filterOut').removeClass('unfiltered');

    $(".showIllustrations").addClass('selected');
    $(".showCharacters").removeClass('selected');
    $(".showSketches").removeClass('selected');
  }
  function showCharacters() {
    $(".characters").removeClass('filterOut selected').addClass('unfiltered');
    $("#all").removeClass('filterOut selected');
    $(".sketches").addClass('filterOut').removeClass('unfiltered');
    $(".illustrations").addClass('filterOut').removeClass('unfiltered');

    $(".showCharacters").addClass('selected');
    $(".showSketches").removeClass('selected');
    $(".showIllustrations").removeClass('selected');
  }
</script>
