<header>
  <nav class="logo" style="background-image: url({{ site.github.url }}/assets/img/banner.jpg);background-position: center 0">
    <div class="navbar clearHeader" id="navigation">
      <div class="part1">
        <h4><a href="{{ site.github.url }}/">{{ site.data.settings.title }}</a></h4>
      </div>
      <div class="part2hide part2" id="toggleMenu">
       <ul class="menu" id="menu">
          {% for item in site.data.settings.menu %}
            <a href="{{ site.github.url }}/{{ item.url }}"><li class="menu_item">{{ item.name }}</li></a>
          {% endfor %}
         {% for item in site.data.settings.social %}
           <a href="{{ item.link }}" target="_blank"><li class="menu_item"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></li></a>
         {% endfor %}
       </ul>
      </div>
    </div>
      <div class="mobileNav" onclick="showHideMobile(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
      </div>
  </nav>
</header>

  <script type="text/javascript">
      if ($(window).width() < 750) {
        var menus = document.getElementById('menu').getElementsByTagName('li')
        for(var row in menus){
             if(typeof menus[row] == 'object' && menus[row].getElementsByTagName('ul').length > 0){
                 menus[row].getElementsByTagName('ul')[0].className = 'selected';
             }
        }
    };
    var header = $(".clearHeader");
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >= 1) {
            header.removeClass('clearHeader').addClass("darkHeader");
        } else {
            header.removeClass("darkHeader").addClass('clearHeader');
        }
    });

    function showHideMobile(x) {
      $("#toggleMenu").toggleClass("part2hide");
      x.classList.toggle("change");
    }
  </script>
