<section>
<div class="homeContent">
  <div class="resheader">
    <h1>{{ site.data.settings.title }}</h1><i class="fa fa-envelope" aria-hidden="true"></i> {{ site.data.settings.email }}
    <br/><i class="fa fa-download" aria-hidden="true"></i> <a href="resume.pdf" target="_blank">Download my resume.</a>
  </div>
  <div class="objective">
    {{ site.data.settings.objective }}
  </div>

  <div class="resbody">
    <div class="experiences">
      {{ site.data.settings.experiences }}
    </div>
    <div class="volunteer">
      {{ site.data.settings.volunteer }}
    </div>
      <div class="skills">
        {{ site.data.settings.skills }}
      </div>
    <div class="education">
      {{ site.data.settings.education }}
    </div>
    <div class="awards">
      {{ site.data.settings.awards }}
    </div>
  </div>
</div>
<br/>
</section>
