<div class="container">
  <div class="resheader">
    <h1>Lina Reid</h1><i class="fa fa-envelope" aria-hidden="true"></i> lina.reid@telus.net
    <br/><i class="fa fa-download" aria-hidden="true"></i> <a href="resume.pdf" target="_blank">Download my resume.</a>
  </div>
  <div class="objective">
    <h4>My objective:</h4>
    To gain employment in an entry-level position within a company that will utilize my skills and abilities, and provide opportunities for growth in a dynamic and stable workplace.
  </div>

  <div class="resbody">
    <div class="experiences">
      <h3>Work Experiences</h3>
      <h4>Winners/Homesense: Abbotsford, BC, Oct 2015 - Present</h4>
        <li>Running the till, stocking shelves, offloading the stock truck, customer service</li>
      <h4>Art Commissions: Abbotsford, BC, 2010 – Present</h4>
        <li>Completed two murals, and have created my own business in which clients can contact me and request character designs, drawings, sketches, etc</li>
    </div>
      <div class="skills">
        <h3>Skills and Abilities</h3>
        <li>Well versed in Adobe Photoshop; I employ Photoshop regularly for all my artwork, which includes character design, illustration, portraits, commissions, photo manipulation, as well as to create business cards and posters.</li>
        <li>I have advanced knowledge using Windows operating systems, and a base knowledge using Mac operating systems.</li>
        <li>I have applied basic skills in HTML/CSS coding and web design.</li>
        <li>Knowledgeable in multiple computer programs including Adobe Photoshop, Correl Painter, Audacity, Open Office, and Word.</li>
        <li>A published artist who applies my skills in a variety of mediums successfully including drawing, watercolors, acrylics, and in the use of the Wacom Intuos tablet for digital painting and sketching.</li>
        <li>I am a skilled writer and have produced works which exceeded 100,000 words.</li>
      </div>
    <div class="education">
      <h3>Education</h3>
      <h4>Vancouver Animation School: 2014 – March 2017</h4>
        <li>Concept Art Diploma</li>
      <h4>Yale Secondary School: 2009 – 2013</h4>
        <li>Graduated Grade 12, consistently on Honor Roll, average 90%</li>
    </div>
    <div class="awards">
      <h3>Awards and Achievements</h3>
      <li>A 10% Scholarship at the Vancouver Animation School in 2014</li>
      <li>Outstanding Achievement and four years of Honor Roll at Yale Secondary School</li>
      <li>Arty Awards nominee for Outstanding Emerging Artist from Abbotsford Art Council in 2010</li>
    </div>
    <div class="volunteer">
      <h3>Volunteer Experience</h3>
      <h4>Abbotsford Arts Council: Abbotsford, BC, 2013 – 2015</h4>
        <li>Gallery Attendant</li>
        <li>Running the cash till</li>
        <li>Computerized record keeping</li>
        <li>Greeting visitors</li>
        <li>general office duties</li>
      <h4>MSA Museum Society: Abbotsford, BC, 2009 – Present</h4>
        <li>Planning and execution of special events at Tretheway House Heritage Site including set-up, and tear down as well as general office duties</li>
        <li>Creating graphic art for press releases and published works</li>
    </div>
  </div>
</div>
