<section>
  <div class="container">
  <div class="homeContent">
    {{ site.data.settings.homeContent }}
  </div>
  {{ site.data.settings.portfolioTitle }}
  <div class="block-media-container">
    <div class="block-media">
      <div class="carousel-images slider-nav">
          {% for project in site.data.settings.projects %}
          <div>
            <a data-lightbox="image-1" href="{{ site.github.url }}/assets/img/Home/{{ project.folder }}/thumb.png"><img src="{{ site.github.url }}/assets/img/Home/{{ project.folder }}/thumb.png"></a>
          </div>
          {% endfor %}
      </div>
    </div><!-- /.block-media -->

    <div class="block-text">
      <div class="carousel-text slider-for">
          {% for project in site.data.settings.projects %}
        <div>
          <span class="title">
            {{ project.name }}
          </span>
          <p class="headline">
            {{ project.description }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div><!-- /.block-text -->

  </div>
  </div><!-- /.container -->

</section>
