.block-media-container
  z-index: 0
  position: relative
  padding: 30px
.galary-block-text
  display: none
.galleryContainer
  text-align: center
.gallery
  width: 250px
  height: 250px
  background-size: contain
  background-repeat: no-repeat
  background-color: black
  background-position: center
  margin: 20px
  white-space: nowrap
  display: inline-block
  text-align: center
  box-shadow: 10px 10px 5px #888888
  border-radius: 10px
.buttonSection
  padding: 20px
.filterbutton
  margin: 10px
  display: inline-block
  padding: 15px
  border-radius: 10px
  position: relative
  width: 10%
  border: solid
  cursor: pointer
  -webkit-transition: all ease .5s
  -moz-transition: all ease .5s
  -o-transition: all ease .5s
  transition: all ease .5s
.filterbutton:hover
  background-color: rgba(0,0,0,0.2)
  -webkit-transition: all ease-in-out .5s
  -moz-transition: all ease-in-out .5s
  -o-transition: all ease-in-out .5s
  transition: all ease-in-out .5s
.selected
  background-color: rgba(0,0,0,0.3)
  -webkit-transition: all ease .5s
  -moz-transition: all ease .5s
  -o-transition: all ease .5s
  transition: all ease .5s
.unfiltered
  animation : filterInAnimation 1s ease forwards
@keyframes filterInAnimation
  0%
    opacity: rgba(0,0,0,0)
    height : 0px
    width : 0px
  100%
    opacity: rgba(0,0,0,1)
    height : 250px
    width : 250px
.filterOut
  animation : filterOutAnimation 2s ease forwards
  overflow: hidden
@keyframes filterOutAnimation
  0%
    opacity: rgba(0,0,0,1)
    height : 250px
    width : 250px
  30%
    opacity: rgba(0,0,0,0.5)
    height : 100px
    width : 100px
  99%
    opacity: rgba(0,0,0,0)
    height : 0px
    width : 0px
  100%
    position: absolute
    bottom: -900px
@media screen and (max-width: 900px)
  .filterbutton
    width: 18%
    -webkit-transition: all ease .5s
    -moz-transition: all ease .5s
    -o-transition: all ease .5s
    transition: all ease .5s
