.logo
  z-index: 9999
.block-media-container
  z-index: 0
  position: relative
  padding: 30px
.galary-block-text
  display: none
.galleryContainer
  text-align: center
.gallery
  width: 250px
  height: 250px
  background-size: contain
  background-repeat: no-repeat
  background-color: rgba(0, 0, 0, 0)
  background-position: center
  margin: 20px
  white-space: nowrap
  display: inline-block
  text-align: center
  box-shadow: 10px 10px 5px #888888
  border-radius: 10px
.gallery:hover
  background-color: rgba(0, 0, 0, 0.8)
.buttonSection
  padding: 20px
.filterbutton
  margin: 10px
  display: inline-block
  padding: 15px
  border-radius: 10px
  position: relative
  width: 10%
  border: solid
  cursor: pointer
  -webkit-transition: all ease .5s
  -moz-transition: all ease .5s
  -o-transition: all ease .5s
  transition: all ease .5s
.filterbutton:hover
  background-color: rgba(0,0,0,0.2)
  -webkit-transition: all ease-in-out .5s
  -moz-transition: all ease-in-out .5s
  -o-transition: all ease-in-out .5s
  transition: all ease-in-out .5s
.selected
  background-color: rgba(0,0,0,0.3)
  -webkit-transition: all ease .5s
  -moz-transition: all ease .5s
  -o-transition: all ease .5s
  transition: all ease .5s
.unfiltered
  animation : filterInAnimation 1s ease forwards
  -webkit-transition: all ease .5s
  -moz-transition: all ease .5s
  -o-transition: all ease .5s
  transition: all ease .5s
@keyframes filterInAnimation
  0%
    opacity: 0
  50%
    opacity: 0.5
  100%
    opacity: 1
.filterOut
  -webkit-animation : filterOutAnimation 2s forwards
  -moz-animation : filterOutAnimation 2s forwards
  -o-animation : filterOutAnimation 2s forwards
  animation : filterOutAnimation 2s forwards
  -webkit-transition: all ease .5s
  -moz-transition: all ease .5s
  -o-transition: all ease .5s
  transition: all ease .5s
  overflow: hidden
@keyframes filterOutAnimation
  0%
    opacity: 1
  30%
    opacity: 0.5
  99%
    opacity: 0
  100%
    position: absolute
    bottom: -900px
@media screen and (max-width: 900px)
  .filterbutton
    width: 18%
    -webkit-transition: all ease .5s
    -moz-transition: all ease .5s
    -o-transition: all ease .5s
    transition: all ease .5s
