@media screen and (max-width: 750px)
.resbody
  .skills
    text-align: left
    padding-left: 20px
    display: inline-table
  .awards
    text-align: left
    display: inline-table
@media screen and (min-width: 750px)
  .resbody
    .skills
      text-align: left
      width: 55%
      display: inline-table
    .awards
      text-align: left
      width: 38%
      display: inline-table
