@media screen and (max-width: 750px)
.resbody
  .awards
    text-align: left
    display: inline-table
  .education
    text-align: left
    display: inline-table
@media screen and (min-width: 750px)
  .resbody
    .awards
      text-align: left
      width: 55%
      display: inline-table
    .education
      text-align: left
      width: 38%
      display: inline-table
